In [38]:
import pandas as pd

In [39]:
tweets = pd.read_csv('../raw_data/TheBridge_Tech_Tweets.csv')

In [40]:
tweets.head()

,tweet_id,tweet_text,tweet_date,user_id,user_name,user_username,tweet_retweet,tweet_reply,tweet_like,tweet_quote
0,1611338908196913153,Gracias a nuestros amigos @TheBridge_Tech por ...,2023-01-06 12:28:27+00:00,1530194743786881024,Bitcoin Tuesday,BitcoinTuesday_,0,0,2,0
1,1610652818234347521,Â¿Te interesa el diseÃ±o de #producto digital? V...,2023-01-04 15:02:11+00:00,10279282,JesÃºs PÃ©rez Serna,mkpositivo,2,0,3,0
2,1610606391445815297,Â¡Empezamos el aÃ±o con una #masterclass de #uxu...,2023-01-04 11:57:41+00:00,2402179123,Jorge GonzÃ¡lez Revilla,jorgegrev,2,0,3,0
3,1610581093119365121,Â¿Te planteas un futuro como diseÃ±ador #uxui?ðŸŽ¨\...,2023-01-04 10:17:10+00:00,1162694149956603904,The Bridge,TheBridge_Tech,3,0,4,0
4,1610236180309868544,"Echa unðŸ‘€a la historia de VerÃ³nica, alumni del ...",2023-01-03 11:26:36+00:00,1162694149956603904,The Bridge,TheBridge_Tech,1,0,2,0

In [41]:
len(tweets['tweet_id'].unique())

175

In [42]:
tweets_sql = tweets.drop(columns = ['user_name', 'user_username']).reset_index(drop = True)

In [43]:
tweets_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tweet_id       175 non-null    int64
 1   tweet_text     175 non-null    object
 2   tweet_date     175 non-null    object
 3   user_id        175 non-null    int64
 4   tweet_retweet  175 non-null    int64
 5   tweet_reply    175 non-null    int64
 6   tweet_like     175 non-null    int64
 7   tweet_quote    175 non-null    int64
dtypes: int64(6), object(2)
memory usage: 11.1+ KB

In [44]:
tweets_sql.to_csv('tweets_sql.csv')

In [45]:
users_sql = tweets[['user_id', 'user_name', 'user_username']].drop_duplicates().reset_index(drop = True)

In [46]:
users_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        57 non-null     int64
 1   user_name      57 non-null     object
 2   user_username  57 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.5+ KB

In [47]:
users_sql.to_csv('users_sql.csv')